.container {
  width: 90%;
  margin: 10px auto;
}

table {
  border: 1px solid gray;
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid gray;
  padding: 5px;
  min-width: 120px;
}

.tEdit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteBtn,
.editBtn,
.saveBtn,
.cancelBtn {
  display: block;
  border: none;
  color: white;
  width: 90%;
  padding: 4px 0;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}

.saveBtn,
.cancelBtn {
  width: 40%;
}

.deleteBtn:hover,
.editBtn:hover,
.saveBtn:hover,
.cancelBtn:hover {
  opacity: 0.5;
}

.deleteBtn:active,
.editBtn:active,
.saveBtn:active,
.cancelBtn:active {
  opacity: 0.9;
}

.deleteBtn,
.cancelBtn {
  background-color: red;
}

.editBtn,
.saveBtn {
  background-color: green;
}
